{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<link rel="stylesheet" href="{% static 'css/filter.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
<body>
    <div class="d1">
        <img src="{% static 'images/logo.png' %}" class="i1" alt="">
        <a href="/" class="a1">Home</a>
        <form action="/filter" method="post">
          {% csrf_token  %}
         <select  class="select" name="filter" onchange="this.form.submit()">
            <option value ="default" selected disabled hidden>Categories</option>
            <option value="1" class="s1">Laptops</option>
            <option value="2"  class="s1">Smartphones</option>
            <option value="3"  class="s1">Headphones</option>
            <option value="4"  class="s1">Tv</option>
            <option value="4"  class="s1">Speakers</option>
          </select>
          </form>
          <a href="/" class="a2">About</a>
          <a href="/" class="a2">Contact</a>
         <div class="d12"><input type="text" class="in1"><button type="submit" class="b1"><i class="fa-solid glass fa-magnifying-glass"></i></button></div> 
         <a href="/cart" class="a3">Cart</a>
         {% if user.is_authenticated %}
         <a href="/" class="a4">{{user.username}}</a>
         <a href="/logout" class="a4">Logout</a>
         {% else %}

         <a href="/login" class="a4">Login</a>
         {%endif%}
    </div>
    <div class="d21">
        <h1 class="d2h1">New Releases</h1>
  
      </div> 
      <div class="d3">
    {% for i in a %}
      <a href="/view/{{i.id}}" class="ad4"><div class="d4">
        <div class="d5"> <img src="{{ i.image1.url}}" class="ip" alt=""></div>

        
        <div class="d51"><h1 class="dh1">{{i.name}}</h1></div>
        <div class="d52">
          <a href="/view/{{i.id}}"><button class="b2"> Buy Now</button></a><h1 class="dh2">${{i.price}}</h1>
        </div>
      </div></a>
      {% endfor%}
    </div>

    <div class="dpage">
        {%if p.has_previous %}
        <a href="?page={{p.previous_page_number}}"class="ad"><i class="fa-solid  arleft fa-arrow-left"></i></a>
        
        {%endif%}     
        
        {%if p.has_next %} 
        
          <a href="?page={{p.next_page_number}}"class="ad"><i class="fa-solid  arright fa-arrow-right"></i></a>
        {%endif%} 
      </div>

    <div class="d21">
        <h1 class="d2h1">Top Deals</h1>
  
      </div> 
      <div class="d3">
    {% for i in b %}
      <a href="/view" class="ad4"><div class="d4">
        <div class="d5"> <img src="{{ i.image.url}}" class="ip" alt=""></div>

        
        <div class="d51"><h1 class="dh1">{{i.name}}</h1></div>
        <div class="d52">
          <a href="/view"><button class="b2"> Buy Now</button></a><h1 class="dh2">${{i.price}}</h1>
        </div>
      </div></a>
      {% endfor%}
    </div>
    <div class="dpage">
        {%if p.has_previous %}
        <a href="?page={{p.previous_page_number}}"class="ad"><i class="fa-solid  arleft fa-arrow-left"></i></a>
        
        {%endif%}     
        
        {%if p.has_next %} 
        
          <a href="?page={{p.next_page_number}}"class="ad"><i class="fa-solid  arright fa-arrow-right"></i></a>
        {%endif%} 
      </div>




    <div class="d21">
        <h1 class="d2h1">Best Sellers</h1>
  
      </div> 
      <div class="d3">
    {% for i in c %}
      <a href="/view" class="ad4"><div class="d4">
        <div class="d5"> <img src="{{ i.image.url}}" class="ip" alt=""></div>

        
        <div class="d51"><h1 class="dh1">{{i.name}}</h1></div>
        <div class="d52">
          <a href="/view"><button class="b2"> Buy Now</button></a><h1 class="dh2">${{i.price}}</h1>
        </div>
      </div></a>
      {% endfor%}
    </div>
    <div class="dpage">
        {%if p.has_previous %}
        <a href="?page={{p.previous_page_number}}"class="ad"><i class="fa-solid  arleft fa-arrow-left"></i></a>
        
        {%endif%}     
        
        {%if p.has_next %} 
        
          <a href="?page={{p.next_page_number}}"class="ad"><i class="fa-solid  arright fa-arrow-right"></i></a>
        {%endif%} 
      </div>


    <div class="d21">
        <h1 class="d2h1">Trending Product</h1>
  
      </div> 
      <div class="d3">
    {% for i in d %}
      <a href="/view" class="ad4"><div class="d4">
        <div class="d5"> <img src="{{ i.image.url}}" class="ip" alt=""></div>

        
        <div class="d51"><h1 class="dh1">{{i.name}}</h1></div>
        <div class="d52">
          <a href="/view"><button class="b2"> Buy Now</button></a><h1 class="dh2">${{i.price}}</h1>
        </div>
      </div></a>
      {% endfor%}
    </div>
    <div class="dpage">
        {%if p.has_previous %}
        <a href="?page={{p.previous_page_number}}"class="ad"><i class="fa-solid  arleft fa-arrow-left"></i></a>
        
        {%endif%}     
        
        {%if p.has_next %} 
        
          <a href="?page={{p.next_page_number}}"class="ad"><i class="fa-solid  arright fa-arrow-right"></i></a>
        {%endif%} 
      </div>


     
      

</body>
</html>